In [7]:
from data_funcs import *
from performance_funcs import *
from ML_funcs import *
from plot_funcs import *

import warnings

warnings.filterwarnings('ignore')

import pandas as pd

joint = pd.read_csv('joint.csv')
joint

      Unnamed: 0       high        low      close  adj close
0              0  171.94382  171.31465  171.64967  171.74937
1              1  172.11649  171.48360  171.82152  171.91844
2              2  172.26752  171.63411  171.97460  172.06502
3              3  172.43674  171.80040  172.14256  172.23192
4              4  172.65668  172.01764  172.36134  172.44962
...          ...        ...        ...        ...        ...
2931        2931  180.16156  179.50480  179.84651  179.94820
2932        2932  180.11890  179.46170  179.80353  179.90611
2933        2933  180.08319  179.42455  179.76670  179.87120
2934        2934  180.02364  179.36562  179.70772  179.81236
2935        2935  180.00343  179.34528  179.68771  179.79220

[2936 rows x 5 columns]

In [8]:
joint['returns'] = joint['adj close'].pct_change()
joint = joint.dropna()
joint

      Unnamed: 0       high        low      close  adj close   returns
1              1  172.11649  171.48360  171.82152  171.91844  0.000984
2              2  172.26752  171.63411  171.97460  172.06502  0.000853
3              3  172.43674  171.80040  172.14256  172.23192  0.000970
4              4  172.65668  172.01764  172.36134  172.44962  0.001264
5              5  172.78790  172.15007  172.49518  172.57762  0.000742
...          ...        ...        ...        ...        ...       ...
2931        2931  180.16156  179.50480  179.84651  179.94820 -0.000101
2932        2932  180.11890  179.46170  179.80353  179.90611 -0.000234
2933        2933  180.08319  179.42455  179.76670  179.87120 -0.000194
2934        2934  180.02364  179.36562  179.70772  179.81236 -0.000327
2935        2935  180.00343  179.34528  179.68771  179.79220 -0.000112

[2935 rows x 6 columns]

In [49]:
measurements = pd.read_csv('measurements.csv')
measurements.set_index(pd.Index(['rsi', 'adx', 'sortino']), inplace=True)
measurements.drop('Unnamed: 0', axis=1, inplace=True)
measurements = measurements.transpose()

def make_decision(row):
    if row['rsi'] > .70:
        return 'Sell'
    elif row['rsi'] < .3 and row['adx'] > .25:
        return 'Buy'
    else:
        return 'Hold'
    
    
measurements['call'] = measurements.apply(make_decision, axis=1)
measurements

                  rsi        adx   sortino  call
AMD     -2.139807e-05   0.548599  0.005791   Buy
ZI      -1.239777e-05   0.122453  0.004363  Hold
PFE      2.026558e-06   0.088166  0.001922  Hold
NU      -2.205372e-06   0.040157  0.001747  Hold
F       -1.251698e-06   0.104502  0.001752  Hold
GOOGL    0.000000e+00   0.154127       NaN  Hold
Z       -1.633167e-05   0.361821  0.162937   Buy
MRNA    -1.813173e-04   0.628353  0.005369   Buy
AAPL    -3.427267e-05   0.092825  0.001153  Hold
NKE     -2.324581e-06   0.153251 -0.000059  Hold
T        8.344650e-07   0.006124  0.003560  Hold
CX       1.549721e-05   0.058325 -0.000162  Hold
SPY     -1.072884e-05   0.492597  0.001052   Buy
TQQQ     7.629395e-06  -0.027492  0.002962  Hold
QQQ      1.192093e-07   0.451769  0.235971   Buy
BND      2.765656e-05   0.463805  0.001052   Buy
IWF      0.000000e+00   0.291018  0.000000   Buy
XLK      1.800060e-05   0.410129  0.000772   Buy
IEF      3.181696e-04   0.075067  0.001284  Hold
BIV     -6.705523e-05   0.033721  0.000511  Hold
IOO      1.282322e-02   3.259468  0.234966   Buy
VIOO    -8.652598e-02   0.027604  0.031254  Hold
BTC-USD  0.000000e+00  80.906250  0.031177   Buy
ETH-USD  3.576279e-07   4.794264  0.000018   Buy
ZB=F    -3.038704e-03   0.251809  0.072561   Buy
HG=F    -7.634759e-04   0.025336  0.003773  Hold
ZC=F     1.192093e-07   1.404510       NaN   Buy
ZM=F    -1.788139e-07   0.897705 -0.000239   Buy
GC=F    -5.960464e-08   0.896851  0.030788   Buy
SB=F     4.449463e-02   0.277224  0.007238   Buy

In [17]:
pd.DataFrame({'AMD': measurements.iloc[-1, -4:], 'AMD2': measurements.iloc[-1, -4:]})

               AMD       AMD2
atr       0.655660   0.655660
rsi       0.000000   0.000000
adx       0.417129   0.417129
sortino -12.933508 -12.933508